:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #007bff;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease;
}

a:hover {
  color: #0056b3;
}

a.active {
  color: #dc3545;
  font-weight: bold;
  border-bottom: 1px solid #dc3545;
}

body {
  display: block;
  margin: 8px;
  background-color: lightgray;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}